<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
<head>
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="home.css" type="text/css" />
</head>

<body>
    <h1>Tic Tac Toe</h1>
    <h2>Please select a game type:</h2>
    <ul>
        <li>
            <a href="/HumanVsHuman">Human vs. Human</a>
        </li>
        <li>
            <a href="/HumanVsComputer">Human vs. Computer</a>
        </li>
        <li>
            <a href="/ComputerVsHuman">Computer vs. Human</a>
        </li>
        <li>
            <a href="/ComputerVsComputer">Computer Vs. Computer</a>
        </li>
    </ul>
</body>
</html>