body {
    background-color: #282828;
    font-family: "Century Gothic";}
h1 {
    border-bottom: 2px solid;
    font-size: 4em;
    font-weight: 500;
    letter-spacing: 0.0446em;
    line-height: 1em;
    padding-bottom: 0.07143em;
    text-transform: uppercase;
    color: #FFFFFF;}
h2 {
    font-size: 2em;}
ul {
    list-style: none;
    float: left;}
li {
    margin: 2em;}
li a {
    color: #32A5F5;
    font-size: 1.5em;}
a {
    text-decoration: none;}
h2 {color: #FFFFFF;}

form {
    color: #FFFFFF;
}

#loadGames {
    color: #32A5F5;
    text-decoration: none;
    float: right;
    margin-top: 10%;
    font-size: 1.5em;
    margin-right: 5%;
}

#home {
    color: #32A5F5;
    text-decoration: none;
    font-size: 1.5em;
    position: relative;
    bottom: -10em;
}
